*{
    padding:0;
    margin:0;
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
}

body{
  background:url(../img/3.jpg);   /*linear-gradient(10deg, #211f1ffb 10%,#5c1717 20%, #0b0202 100%);*/ /* le ../ sert à sortir du dossier css */
   /* overflow-x: hidden;*/ 
    min-height: 100vh;
    width:100%;
}

main{
  box-sizing: border-box;
    
}

/********************  barre de navigation ******************/

.header {
  display: flex;
  align-items: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding:20px;
}

.header>span {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-family: 'Cinzel', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 0.2em;
  margin: 0.25em 0 0.25em 1em;
  font-size: 3em;
}


#menu-button-check {
  display: none;
}

label[for=menu-button-check]:nth-of-type(1) {
  display: none;
}

.menu a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

@media (min-width: 768px) {
  html {
      font-size: 1vw;
  }

  .header {
      box-sizing: border-box;
      width: 100%;
  }

  .menu {
      display: inline-block;
      width: 80%;
  }

  .menu ul {
      width: 100%;
      height: 100%;
      text-align: right;
      color: rgb(249, 249, 249);
  }

  .menu li {
      display: inline-block;
      font-size: 1.5em;
      margin: 0 2em 0 0;
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  html {
      font-size: 1.5vw;
  }

  .header {
      width: 100%;
      padding: 0;
  }

  .menu {
      width: 55%;
      padding:0;
  }
}

@media (max-width: 767px) {

  

  label[for=menu-button-check]:nth-of-type(1) {
      top: 0.25em;
      color: white;
      right: 0.5em;
      z-index: 1000;
      font-size: 3em;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
      display: inline-block;
  }

  label[for=menu-button-check]:nth-of-type(1):hover {
      cursor: pointer;
  }

  #menu-button-check:checked~.menu {
      animation: show-menu linear 0.1s;
      right: 0;
  }

  #menu-button-check:checked~label[for=menu-button-check]:nth-of-type(1) {
      color: white;
  }

  .menu {
      display: flex;
      animation: hide-menu linear 0.1s;
      width: 100%;
      height: 100%;
      right: -100%;
      top: 0;
      position: fixed;
      background: rgba(0, 0, 0, 0.95);
      align-items: center;
      justify-content: center;
      z-index: 999;
  }

  .menu li {
      font-size: 1.5em;
      color: rgb(249, 0, 0);
      margin: 1em 0;
      list-style: none;
  }

  @keyframes show-menu {
      from {
          right: -100%;
          opacity: 0;
      }

      to {
          right: 0;
          opacity: 1;
      }
  }

  @keyframes hide-menu {
      from {
          right: 0;
          opacity: 1;
      }

      to {
          right: -100%;
          opacity: 0;
      }
  }
}

/*****************grand titre h1 ******************/

/* a remplir*/ 

/* Image vectorielle Japon */

#japonais{
    width: 15% !important;
    filter: contrast(0.1);
    float: right;
    margin-top:45vh; 
}


/************************* Section 1 *************************/

.section1{ 
  position:relative;
  top:19vh;
}

.container {
  position: relative;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #8484847c;
  z-index: 0;
  margin-left:16vh;
  border-radius: 10px 10px 10px 10px;

}

.container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 100px 0;
}

.container .card:nth-child(odd) {
  flex-direction: row;
}

.container .card:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}

.container .card .imgBx {
  position: relative;
  left: 25px;
  width: 400px;
  height: 400px;
  z-index: 1;
}

.container .card:nth-child(even) .imgBx {
  left: -25px;
}

.container .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px;
}

.container .card .contentBx {
  position: relative;
  right: 40px;
  width: 414px;
  height: 212px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 60px 20px 100px;
}

.container .card:nth-child(even) .contentBx {
  right: -25px;
  padding: 20px 100px 20px 60px;
}

.container .card .contentBx:before {
  content: '';
  position: absolute;
  top: -50px;
  bottom: -50px;
  left: 0;
  right: 0;
  background: rgba(8, 8, 8, 0.883);
  border-radius: 10px 10px 10px 10px;
  z-index: -1;
}

.container .card .contentBx h2 {
  font-size: 30px;
  color: #fff;
}

.container .card .contentBx p {
  margin-top: 10px;
  color: #fff;
}

.container .card .contentBx a {
  display: inline-block;
  margin-top: 15px;
  color: rgb(255 0 0 / 70%);
  text-decoration: none;
  padding: 10px;
  border: 1px solid rgba(106, 101, 101, 0.495);
}

@media (max-width: 1000px) {
  .container .card {
    flex-direction: column;
    max-width: 350px;
    margin: 25px 25px;
  }
  
  .container .card .imgBx {
    width: 100%;
    height: 250px;
    left: 0;
  }
  
  .container .card .contentBx {
    width: 100%;
    height: auto;
    right: 0;
    padding: 30px;
    text-align: center;
  }
  
  .container .card .contentBx:before {
    top: 0;
    bottom: 0;
  }
  
  .container .card:nth-child(even) .imgBx {
    left: 0;
  }
  
  .container .card:nth-child(even) .contentBx {
    right: 0;
    padding: 30px;
  }
}

/************************** Section 2 ***********************/

#slideshow {
  margin-top:15vw;
  /* padding-top: 50px; */
  height: 250px;
  width: 100%;
  box-sizing: border-box;
}

.slideshow-title {
  font-family: 'Allerta Stencil';
  font-size: 62px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  margin-top: 25%;
  letter-spacing: 3px;
  font-weight: 300;
}

.sub-heading {
  padding-top: 50px;
  font-size: 18px;
} .sub-heading-two {
  font-size: 15px;
} .sub-heading-three {
  font-size: 13px;
} .sub-heading-four {
  font-size: 11px;
} .sub-heading-five {
  font-size: 9px;
} .sub-heading-six {
  font-size: 7px;
} .sub-heading-seven {
  font-size: 5px;
} .sub-heading-eight {
  font-size: 3px;
} .sub-heading-nine {
  font-size: 1px;
}

.entire-content {
  margin: auto;
  width: 190px;
  perspective: 1000px;
  position: relative;
  padding-top: 80px;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: absolute;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px); 
} .content-carrousel figure:nth-child(2) {
  transform: rotateY(60deg) translateZ(300px); 
} .content-carrousel figure:nth-child(3) {
  transform: rotateY(120deg) translateZ(300px); 
} .content-carrousel figure:nth-child(4) {
  transform: rotateY(180deg) translateZ(300px); 
} .content-carrousel figure:nth-child(5) {
  transform: rotateY(230deg) translateZ(300px); 
} .content-carrousel figure:nth-child(6) {
  transform: rotateY(300deg) translateZ(300px); 
} 


.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  } to {
    transform: rotateY(360deg);
  }
}

 /************************ Section 3 **************************/

 .section3{
   justify-content: center;
   width: 100%;
   height: 500px;
   margin-top:18vw;
 }

 .left {
  left: 25px;
}

.right {
  right: 25px;
}

.center {
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 25px;
}

.gradient {
  background: #000000;
  background-image: linear-gradient(#070505 20%, #050505 20%, #b4b4b482 40%, #b4b4b482 40%, #070505 60%, #050505 60%, #040203 80%, #000000 80%);
  margin-top: 100px;
  width: 100%;
  height: 150px;
}

 #gradient:after {
  content: "";
  position: absolute;
  background: #E9E2D0;
  left: 50%;
  margin-top:2px;
  border-radius: 5px;
  width: 520px;
  height: 275px;
  z-index: -1;
}

#card {
  position: relative;
  width: 450px;
  height: 225px;
  padding: 25px;
  bottom: 195.5px;
  background: #E9E2D0;
  box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
  z-index: 5;
  left:45vh;
  border-radius: 5px 5px 5px 5px;
}

#card img {
  width: 150px;
  float: left;
  border-radius: 5px;
  margin-right: 20px;
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  filter: sepia(1);
}

#card h2 {
  font-family: 'Cinzel' , sans-serif;
  color: #333;
  /*margin: 0 auto;*/ 
  padding: 0;
  font-size: 15pt;
}

#card p {
  font-family: 'Cinzel' , sans-serif;
  color: #555;
  font-size: 13px;
}

#card span {
  font-family: 'Cinzel' , sans-serif;
}

/********************* Section 4 **********************/

.section4{
  margin: 10vw 0 10vw 0;
}


        /******** Formulaire ********/ 

input[type=text], textarea, input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

label{
  width: 100%;
  font-weight:600;
}

input[type=submit] {
  background-color: #000000f9;
  color: rgb(179, 11, 11);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #333533;
}

.container_form {
  box-sizing: border-box;
    border-radius: 5px;
    background-color: #fffbfb;
    padding: 20px;
    width: 100%;
    max-width: 570px;
    margin: auto;
}

.titre-form{
  color: #601212;
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 1px;
}

/** yinyang **/ 

.yinyang {
  position: relative;
  background: #fff;
  height: 100px;
  border-color: #000;
  border-style: solid;
  width: 50px; 
  border-width: 2px 50px 2px 2px;
  border-radius: 50%;
  animation: roll 40000s infinite;
} 

.yinyang:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  background: #fff;
  border: 18px solid #000;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  }


.yinyang:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: #000;
  border: 18px solid #fff;
  border-radius: 50%;
  width: 14px;
  height: 14px;
}



@keyframes roll {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(3600000deg);
  }
}

/******************** Section 5 *******************/

#horus{
  width:10vh;
  filter:grayscale(1);
  position:absolute;
}

 
/************************* Footer *************************/ 

footer{
    background: rgba(85, 85, 85, 0.8);
    height: 16vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    position:relative;
}


.paragraphe{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left:-3vw;
}

.para{
  margin:15px 0 10px 0;
  text-decoration: none;
  color:whitesmoke;
}

.line-separation{
    background: white;
    padding: 1px;
    transform: rotate(89deg);
    width: 108px;
    position: absolute;
    left: 44vh;
    top: 8vh;
}

/* Logo*/
.logos{
    margin-left:18vh;
    display: flex;
}

.footer-logo {
    margin:0 1vh 3vh 0;
    width:7vh;
}

/*** MEDIA QUERIES ***/

