*{
    padding:0;
    margin:0;
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
}

body{
    background: linear-gradient(217deg, rgba(0, 0, 0, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(95, 100, 95, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(230, 225, 225, 0.8), rgba(0,0,255,0) 70.71%);
    color:white;
}
/* barre de navigation */ 

nav li{
  display:inline;
  list-style: none;
}

nav{
    text-align: center;
} 

nav a{
    display: inline-block;
    margin:0 50px;
    color:black;
    font-weight: 600;
    font-size: 1.2rem;
}

 
/* grand titre h1*/ 
h1{
    text-align: center;
    color:rgba(8, 8, 8, 0.862);
    font-size: 2.3rem;
    padding:8vw;
    text-decoration:underline overline #050505;
    letter-spacing: 2px;
}

/* tableau */

thead, td, th{
    background-color: black;
    padding:30px;
}

th, td{
    border-radius: 10px 10px 10px 10px;
}



table{
    margin:15px 0 0 25px; 
}

th{
    letter-spacing: 2px;
}

/* grand titre h2*/ 
h2{
    text-align: center;
    color:rgba(8, 8, 8, 0.862);
    font-size: 2.3rem;
    padding:8vw;
    text-decoration:underline overline #050505;
    letter-spacing: 1px;
}

/* formulaire de modification de projet  */ 
form {
    border: rgba(143, 137, 137, 0.487) 18px solid;
    width:50%;
    margin:0 0 5vw 26vw;
    position:relative;
    background-color: #050505;
    
}
label{
    justify-content: center;
}

input{
    border-radius: 5px 5px 5px 5px;
    border: none;
    padding:2px;
}


button{
   justify-content: center;
}